@font-face {
    font-family: Montserrat;
    src: url(./webfonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: JosefinSans;
    src: url(./webfonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: DMSerifText;
    src: url(./webfonts/DMSerifText-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

#header {
    height: 120px;
    margin: 10px 0;
}

header div.container {
    display: flex;
    align-items: center;
    height: 100%;
}

header a {
    height: 100%;
}

header a img {
    height: 100%;
    width: auto;
    margin: 0 16px;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin: 0 1.5vw;
    font-weight: bold;
    font-size: 20px;
}

header nav ul li::before {
    display: block;
    content: "";
    background-color: #000;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.3s ease-out;
}

header nav ul li:hover::before {
    transform: scaleX(1);
}

header nav ul li::after {
    display: block;
    content: "";
    background-color: #000;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s ease-out;
}

header nav ul li:hover::after {
    transform: scaleX(1);
}

header nav ul a {
    text-decoration: none;
    color: #070707;
}

main section {
    height: 110vh;
}

#hero {
    position: relative;
    overflow: hidden;
}

#hero div.hero-background-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#hero div.hero-background-text p {
    font-family: DMSerifText, Georgia, serif;
    font-size: 27vw;
    line-height: 28vw;
    letter-spacing: 2rem;
    color: transparent;
    -webkit-text-stroke: 0.5px #070707;
    transform: translateX(-6%);
}

#hero div.hero-background-text span:nth-child(2){
    display: inline-block;
    transform: translateX(8vw);
}

#hero div.hero-foreground-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: translateY(3%);
}

#hero div.hero-foreground-text h1{
    font-family: JosefinSans, Montserrat, sans-serif;
    font-size: 5.5vw;
    line-height: 8vw;
    transform: translateY(35%);
    margin-right: 4vw;
}

#hero div.hero-foreground-text div {
    width: 42%;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}

#hero div.hero-foreground-text img {
    width: 100%;
    transform: translateY(-20%);
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
}

#technologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#technologies h2 {
    font-size: 4vw;
    margin-bottom: 20vh;
}

#technologies>div {
    width: 40vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10% 10%;
    font-size: 120px;
    align-items: center;
    text-align: center;
}

/* #technologies div div.icons{
    width: 20%;
} */

#technologies div i, #technologies div img{
    width: 100%;
    
    /* border: red solid 1px; */
}

/* #contact {
    border: red solid 1px;
} */

#contact form {
    display: flex;
    width: 35vw;
    margin: 50vh 0 0 60%;
    flex-direction: column;
}

#footer {
    height: 60vh;
    background-color: #0D0D0D;
    color: #F2F2F2;
    font-family: JosefinSans, Montserrat, sans-serif;
}

#footer div.container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer div.container>div {
    text-align: center;
    height: 40vh;
}

#footer div.container>div h2 {
    font-size: 30px;
    height: 20%;
}

#footer div.container>div:nth-child(1) div {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer div.container>div a {
    color: #F2F2F2;
    margin: 0 5%;
}

#footer div.container>div a i {
    font-size: 80px;
}

#footer div.container>div:nth-child(2) p {
    font-size: 30px;
    font-weight: bold;
}