@font-face {
    font-family: Montserrat;
    src: url(./webfonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: JosefinSans;
    src: url(./webfonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: DMSerifText;
    src: url(./webfonts/DMSerifText-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

#header {
    height: 80px;
    margin: 10px;
}

header div.container {
    display: flex;
    align-items: center;
    height: 100%;
}

header a {
    height: 100%;
}

header a img {
    height: 100%;
    width: auto;
    margin: 0 16px;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin: 0 16px;
    font-weight: bold;
}

header nav ul a {
    text-decoration: none;
    color: #070707;
}

main section {
    height: 110vh;
}

#hero {
    border: red solid 1px;
    position: relative;
    overflow: hidden;
}

#hero div.hero-background-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#hero div.hero-background-text p {
    font-family: DMSerifText, Georgia, serif;
    font-size: 27vw;
    line-height: 28vw;
    letter-spacing: 2rem;
    color: transparent;
    -webkit-text-stroke: 0.5px #070707;
    transform: translateX(-6%);
}

#hero div.hero-background-text span:nth-child(2){
    display: inline-block;
    transform: translateX(8vw);
}

#hero div.hero-foreground-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: translateY(3%);
}

#hero div.hero-foreground-text h1{
    font-family: JosefinSans, Montserrat, sans-serif;
    font-size: 5.5vw;
    line-height: 8vw;
    transform: translateY(35%);
    margin-right: 4vw;
}

#hero div.hero-foreground-text div {
    width: 42%;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}

#hero div.hero-foreground-text img {
    width: 100%;
    transform: translateY(-20%);
}

#about {
    border: blue solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#technologies {}

#contact {}

#footer {}